Package: com.shade.aura
Name: Aura
Depends: mobilesubstrate, com.shade.multiplexercore
Version: 0.1
Architecture: iphoneos-arm
Description: Customizable backgrounding for Multiplexer.
Depiction: https://shade-zepheri.github.io/depic/index.html?p=com.shade.aura
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
