Package: com.shade.empoleon
Name: Empoleon
Depends: mobilesubstrate, com.shade.multiplexercore
Version: 1.0.0~rc1
Architecture: iphoneos-arm
Description: Empoleon for Multiplexer.
Depiction: https://shade-zepheri.github.io/depic/index.html?p=com.shade.empoleon
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
