Package: com.shade.swipeover
Name: SwipeOver
Depends: mobilesubstrate, com.shade.multiplexercore
Version: 0.1
Architecture: iphoneos-arm
Description: SwipeOver for Multiplexer.
Depiction: https://shade-zepheri.github.io/depic/index.html?p=com.shade.swipeover
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
