Package: com.shade.reachapp
Name: ReachApp
Depends: mobilesubstrate, com.shade.multiplexercore
Version: 1.0.0~rc1
Architecture: iphoneos-arm
Description: ReachApp for Multiplexer.
Depiction: https://shade-zepheri.github.io/depic/index.html?p=com.shade.reachapp
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
