Package: com.shade.missioncontrol
Name: MissionControl
Depends: mobilesubstrate, com.shade.multiplexercore, com.shade.empoleon
Version: 1.0.0~rc1
Architecture: iphoneos-arm
Description: MissionControl for Multiplexer.
Depiction: https://shade-zepheri.github.io/depic/index.html?p=com.shade.missioncontrol
Maintainer: Shade Zepheri <ziroalpha@gmail.com>
Author: Shade Zepheri <ziroalpha@gmail.com>
Section: Tweaks
